---
import Layout from "../layouts/Layout.astro";
import { Input } from "../components/Input/Input.jsx";
import Title from "../components/Title.astro";
import RegisterOilButton from "../features/RegisterOilButton";
import { ProtectedRoute } from "../components/ProtectedRoute.jsx";
import Select from "../components/Select.astro";
import { Loading } from "../components/Loading";

const liters = Array.from({ length: 10 }, (_, index) => index + 1);
const days = [
  "Segunda-feira",
  "Terça-feira",
  "Quarta-feira",
  "Quinta-feira",
  "Sexta-feira",
  "Sábado",
  "Domingo",
];
---

<Layout title="Cadastro - Óleo Descarte" logged={true}>
  <ProtectedRoute route="/login" client:load>
    <main>
      <Loading client:load />
      <form class="container" id="submit-oil">
        <Title variant="low-hue">
          Para cadastrar seu óleo. Preencha os dados abaixo.
        </Title>
        <Select
          id="liters"
          name="liters"
          label="Quantidade em litros"
          labelStyle="margin-top: 1rem"
        >
          {
            liters.map((x) => (
              <option value={x}>
                {x} {x === 1 ? " Litro" : " Litros"}
              </option>
            ))
          }
        </Select>
        <p>Qual o endereço que vai ser retirado?</p>
        <Input
          label="CEP"
          id="cep"
          name="cep"
          type="text"
          placeholder="Digite o CEP"
          mask="99999-999"
          placeholder="99999-999"
          required
          labelStyle={{ marginBottom: "0.5rem", marginTop: "0.75rem" }}
          client:load
        />
        <Input
          label="Endereço"
          id="address"
          name="address"
          required
          type="text"
          placeholder="Digite a rua ou avenida"
          labelStyle={{ marginBottom: "0.5rem", marginTop: "0.75rem" }}
        />
        <Input
          label="Número da residência"
          id="number"
          name="number"
          required
          type="text"
          placeholder="Digite o número da residência (sn para sem número)"
          labelStyle={{ marginBottom: "0.5rem", marginTop: "0.75rem" }}
        />
        <Input
          label="Complemento"
          id="complement"
          name="complement"
          type="text"
          placeholder="Apartamento 21"
          labelStyle={{ marginBottom: "0.5rem", marginTop: "0.75rem" }}
        />
        <Select
          id="day"
          required
          name="day"
          label="Qual sua disponibilidade para a retirada?"
          labelStyle="margin-top: 1rem"
        >
          {days.map((x) => <option value={x}>{x}</option>)}
        </Select>
        <Input
          label="Telefone para contato com DDD"
          id="telephone"
          name="telephone"
          type="text"
          mask="(99) 99999-9999"
          placeholder="(99) 99999-9999"
          client:load
          labelStyle={{ marginBottom: "0.5rem", marginTop: "0.75rem" }}
          inputStyle={{ marginBottom: "1.5rem" }}
        />
        <RegisterOilButton client:load />
      </form>
    </main>
  </ProtectedRoute>
</Layout>
<style>
  main {
    width: fit-content;
    margin: 1rem auto;
    padding: 0 1rem;
    padding-bottom: 2rem;
    max-width: 22rem;
    color: #515251;
  }
  select {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid rgba(81, 82, 81, 0.7);
    background-color: white;
    color: #515251;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-top: 1rem;
  }
  label[for="day"] {
    margin-bottom: 0.25rem;
  }
  p {
    margin-bottom: 0;
  }
</style>
<script>
  import { getAxios } from "../api";
  import axios from "axios";

  const cep = document.getElementById("cep");
  const address = document.getElementById("address");

  cep.addEventListener("blur", async (e) => {
    const response = await axios.get(
      `https://viacep.com.br/ws/${e.target.value.replace("-", "")}/json/`
    );
    if (response.status == 200) {
      address.value = response.data.logradouro;
    }
  });

  const telephone = document.getElementById("telephone");
  async function getTelephone() {
    console.log("antes");
    const { data } = await getAxios().get("/current-user/");
    let formated;
    if (data.telephone?.length == 11) {
      formated =
        "(" +
        data.telephone.slice(0, 2) +
        ") " +
        data.telephone.slice(2, 7) +
        "-" +
        data.telephone.slice(7, 11);
    } else {
      formated = data.telephone;
    }

    telephone.value = formated;
  }
  getTelephone();
</script>
