---
const { label, id, type, placeholder, name, labelStyle = "" } = Astro.props;
---

<label for={id} style={labelStyle}>{label}</label>
<input name={name} id={id} type={type} placeholder={placeholder} />
<style>
  input {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(81, 82, 81, 0.7);
  }
  input:focus {
    border-color: #1ab945;
    outline: #1ab945;
  }
</style>
